@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow-yellow {
  box-shadow: 0 0 10px yellow;
}
.box-shadow-white {
  box-shadow: 0 0 10px white;
}
.button {
  box-shadow: 0 9px #999;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttonSp {
  box-shadow: 0 9px #383131;
}
.buttonSp:active {
  box-shadow: 0 5px rgb(202, 202, 23);
  transform: translateY(4px);
}
.font-roboto {
  font-family: "Roboto Mono", sans-serif;
}

/* SCROLL BAR HIDDEN */
body::-webkit-scrollbar {
  width: 0; /* Adjust the width as needed */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track background color */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb (scrollbar handle) color */
}

body {
  margin: 0;
  font-family: Dosis, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
