@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
  font-family: "Roboto Mono", sans-serif;
}
.font-verdana {
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
}

/* SCROLL BAR HIDDEN */
body::-webkit-scrollbar {
  width: 0; /* Adjust the width as needed */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track background color */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb (scrollbar handle) color */
}

body {
  margin: 0;
  font-family: Dosis, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background-animate {
  background-color: #fdfdff;
  opacity: 0.6;
  background: radial-gradient(
      circle,
      transparent 20%,
      #fdfdff 20%,
      #fdfdff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #fdfdff 20%,
        #fdfdff 80%,
        transparent 80%,
        transparent
      )
      40px 40px,
    linear-gradient(#f3f1cb 3.2px, transparent 3.2px) 0 -1.6px,
    linear-gradient(90deg, #f3f1cb 3.2px, #fdfdff 3.2px) -1.6px 0;
  background-size: 80px 80px, 80px 80px, 40px 40px, 40px 40px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inner-background {
  background: radial-gradient(
    circle at center,
    rgba(255, 245, 102, 0.98) -53.1%,
    white
  );
  animation: gradient 6s ease infinite reverse;
  background-size: 150% 150%;
}
